.expert-profile-basic-details {
  padding-left: 2.5rem;
  padding-bottom: 13px;

  h3 {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
  }

  .basic-detail {
    display: flex;
    align-items: center;

    font-size: 13px;
    font-weight: 400;
    line-height: 1.8;
    margin-bottom: 0.2em;

    h5 {
      font-size: 12px;
      font-weight: 500;
      width: 150px;
    }

    .domain,
    .function,
    .expertise {
      display: flex;
      gap: 0.2em;
      flex-wrap: wrap;
      width: 80%;

      p {
        background-color: orange;
        color: white;
        font-size: 12px;
        border-radius: 18px;
        padding: 1px 8px;
      }
    }
  }
}

@media (max-width: 600px) {
  .expert-profile-basic-details {
    padding-left: 1rem;

    h3 {
      font-size: 16px;
      margin-bottom: 8px;
    }

    .basic-detail {
      font-size: 12px;
      margin-bottom: 0.2rem;

      h5 {
        font-size: 12px;
        width: 120px;
        flex-shrink: 0;
      }

      .domain,
      .function,
      .expertise {
        gap: 0.2em;

        p {
          font-size: 11px;
          padding: 0px 8px;
        }
      }
    }
  }
}
