.bankDetailsContainer {
  width: 100%;
  padding-top: 5px;
  padding-bottom: 15px;

  .bankDetails {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
    color: #ffffff;
    background-color: #7c90a7;
    padding: 12px 16px;
    border-radius: 10px;

    .accountNumber {
      font-size: 1.25rem;
      margin-bottom: 2px;
    }

    .bankName {
      font-size: 1rem;
      cursor: pointer;
    }
  }
}

.devider {
  height: 1px;
  background-color: #707070;
  width: 100%;
  opacity: 0.49;
}

.container {
  padding: 8px 12px;
}

.toggle {
  display: flex;
  gap: 30px;
  align-items: center;
  font-size: 0.95rem;
}

.linkIcon {
  width: 15px;
  height: 15px;
  cursor: pointer;
}

.mainDetails {
  padding: 8px 0px;
  display: flex;
  flex-direction: column;
  gap: 15px;

  .row {
    display: grid;
    grid-template-columns: 50% 50%;
    .label {
      font-size: 15px;
      color: #3c3f48;
    }
    .value {
      font-size: 16px;
      color: #707070;
    }
  }
}

.reScheduleOrCancelBtn {
  margin-bottom: 10px;
}

.actions {
  padding: 15px 24px !important;
  background-color: #fafafa;
}
