.profile-details-section {
  background-color: #ffffff;
  padding: 1rem;
  padding-top: 1em;
  border-radius: 15px;
  margin-bottom: 0.5rem;

  .profile-details-heading {
    display: flex;
    justify-content: flex-start;
    gap: 10px;

    .profile-picture-container {
      position: relative;
      border-radius: 100px;
      cursor: pointer;
      margin-left: 20px;

      .profile-picture {
        width: 60px;
        height: 60px;
      }

      .profile-overlay {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #00000040;
        border-radius: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: opacity 0.5s;
        opacity: 0;

        .profile-edit {
          width: 20px;
          height: 20px;
        }
      }

      &:hover .profile-overlay,
      &:focus .profile-overlay {
        opacity: 1;
      }
    }

    .profile-detail {
      display: flex;
      flex-direction: column;

      .profile-name {
        display: flex;
        gap: 5px;
        align-items: center;
        margin-bottom: 11px;

        h3 {
          font-size: 20px;
          font-weight: 700;
        }

        .phone-call {
          width: 16px;
          transform: rotate(-45deg) translateY(-2px);
        }

        .chip {
          font-size: 12px;
          font-family: inherit;
          background-color: rgb(239, 237, 240);
          border-radius: 15px;
          font-weight: 500;
          color: #6b5773;
          text-transform: capitalize;
        }

        .expert-chip {
          background-color: #b8e2f2;
          color: #184252;
          padding: 0 20px;
        }

        .badges {
          width: 20px;
          padding: 2px;
          padding-top: 4px;
        }
      }

      .project-contact {
        display: flex;
        gap: 1.25rem;
        align-items: center;
        font-weight: 500;
        font-size: 14px;
        line-height: 19px;
        letter-spacing: 0px;

        .id-badge {
          width: 16px;
          margin-top: 2px;
        }

        .email {
          width: 16px;
          margin-top: 2px;
        }

        .stars-container {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 8px;

          .rating-label {
            font-size: 13px;
            font-weight: 500;
          }

          .dash {
            font-weight: 100;
            font-size: 20px;
          }

          .stars {
            display: flex;
            cursor: pointer;
            align-items: center;
            justify-content: center;
            gap: 0.2em;

            img {
              align-self: flex-start;
              margin-top: 2px;
            }

            div {
              display: flex;
              align-items: center;
              justify-content: center;
              gap: 0.2em;

              p {
                color: #ad4719;
              }
            }
          }
        }

        .single-detail-contianer {
          display: flex;
          align-items: flex-start;
          gap: 8px;
        }

        .detail-text {
          color: #252b3b;
          font-size: 13px;
          font-weight: 500;
        }
      }

      .more-details {
        display: flex;
        gap: 2rem;
        display: flex;
        gap: 0.5rem;
        font-size: 13px;
        font-weight: 500;
        align-items: center;

        .number {
          font-weight: 400;
        }

        .referred-by-name {
          color: #fd7a35;
          text-decoration: underline;
          font-size: 12px;
        }

        #more-detail-btn {
          background-color: #07be621c;
          color: #019a5f;
          padding: 2px 10px;
          border-radius: 10px;
          font-size: 14px;
        }
      }
    }
  }

  .profile-section-footer {
    hr {
      margin-top: 1rem;
      border-color: rgb(241, 239, 239);
    }

    div {
      display: flex;
      width: 50%;
      // border: 1px solid red;
      justify-content: space-between;
      margin-left: 8rem;
      padding: 10px 20px 0 20px;

      p {
        font-size: 12px;
        font-weight: 600;
      }

      p:first-child {
        color: orange;
        border-bottom: 2px solid orange;
      }
    }
  }
}

@media (max-width: 600px) {
  .profile-details-section {
    padding: 0.75rem;
    border-radius: 8px;
    margin-bottom: 0.75rem;

    .profile-details-heading {
      .profile-picture-container {
        margin-left: 0px !important;

        .profile-picture {
          width: 60px;
          height: 60px;
        }

        .profile-overlay {
          .profile-edit {
            width: 20px;
            height: 20px;
          }
        }
      }

      .profile-detail {
        display: flex;
        flex-direction: column;

        .profile-name {
          margin-bottom: 4px;

          h3 {
            font-size: 14px;
          }

          .phone-call {
            width: 14px;
          }

          .chip {
            font-size: 12px;
          }

          .expert-chip {
            padding: 0 20px;
          }
        }

        .project-contact {
          gap: 0.5rem;
          font-size: 12px;
          line-height: 16px;
          flex-wrap: wrap;

          .id-badge {
            width: 14px;
            margin-top: 1px;
          }

          .email {
            width: 14px;
            margin-top: 2px;
          }

          .stars-container {
            gap: 8px;

            .rating-label {
              font-size: 12px;
            }

            .dash {
              font-size: 16px;
            }
          }

          .single-detail-contianer {
            display: flex;
            align-items: flex-start;
            gap: 8px;
          }

          .detail-text {
            font-size: 12px;
          }
        }

        .more-details {
          font-size: 12px;

          #more-detail-btn {
            font-size: 12px;
          }
        }
      }
    }
  }
}
