.project-details-section {
  background-color: #ffffff;
  padding: 1rem;
  padding-top: 1em;
  border-radius: 15px;
  margin-bottom: 1rem;
}

@media (min-width: 600px) {
  .project-details-section {
    padding: 1.25rem 2rem ;
  }
}