.moderate-select-profile-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 0.5rem;
    margin-bottom: 0;
    background-color: #FFFFFF;
    border-radius: 10px;
    margin-top: 1rem;
    padding: 10px 20px 20px 20px;
  
  
    .select-profile-text{
      font-size: 13px;
      color: #3C3F48;
      font-weight: 500;
      padding-left: 15px;
    }

    .select-dropdown{
        font-size: 16px;
        color: #000000;
        font-weight: 500;
    }

    .select-dedup-btn{
        width: 90%;
        text-transform: capitalize;
        background-color: #EC9324;
        color: #FFFFFF;
        font-size: 12px;
        border-radius: 30px;

    }
    .select-dedup-btn:hover{
        background-color: #EC9324;
    }
    .select-clear-btn{
        width: 90%;
        text-transform: capitalize;
        background-color: #868686;
        color: #FFFFFF;
        font-size: 12px;
        border-radius: 30px;
    }
    .select-clear-btn:hover{
        background-color: #868686;
    }
    
  }
  