
.TextFieldSelect fieldset {
    border-radius: 4px;
}

.TextFieldSelect .Mui-disabled fieldset{
    opacity: 0.7;
    background-color: red;
}

.backgroudWhite {
    background: white;
    border-radius: 25px!important;
}
