.inputRow {
    padding-top: 12px;
    padding-bottom:12px;
    padding-left:5px;
    padding-right:5px;
}

.actionRow {
    display: flex;
    justify-content: flex-end;
    padding-top: 5px;
    padding-left:5px;
    padding-right:5px;
    gap: 16px;
}